[submodule "third_party/Open3D"]
	path = third_party/Open3D
	url = https://github.com/isl-org/Open3D.git
[submodule "third_party/PDAL"]
	path = third_party/PDAL
	url = https://github.com/PDAL/PDAL.git
[submodule "third_party/ouster_sdk"]
	path = third_party/ouster_sdk
	url = https://github.com/ouster-lidar/ouster-sdk.git
[submodule "third_party/lgmath"]
	path = third_party/lgmath
	url = https://github.com/utiasASRL/lgmath.git
[submodule "third_party/steam"]
	path = third_party/steam
	url = https://github.com/utiasASRL/steam.git
